.counter-header {
  margin-bottom: 0;
}

/* .counter-neg {
  color: rgb(0, 255, 4);
}
.counter-pos {
  color: rgb(238, 97, 21);
}

.counter-zero {
  color: rgb(183, 45, 155);
} */

.counter-button {
  font-size: 1rem;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  width: 100px;
}

.positive {
  background-color: rgb(245, 112, 29);
  color: white;
}

.negative {
  background-color: rgb(25, 0, 255);
  color: white;
}
